@import './partials/reset';
@import './partials/colors';
@import './partials/fonts';
body,
html {
    font-size: 16px;
    min-height: 100vh;
    overflow-x: hidden;
    a {
        text-decoration: none;
        color: inherit;
    }
}

input {
    border: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.menu__icon {
    color: $menu-icons;
    fill: $menu-icons;
    transition: all .4s;
    display: inline-block;
    width: 100%;
    height: 100%;
    svg {
        vertical-align: middle;
        line-height: 100%;
    }
    &:hover {
        color: $menu-icons-hover;
        fill: $menu-icons-hover;
    }
    &:active {
        color: $menu-icons-active;
        fill: $menu-icons-active;
    }
    &.search {
        background: $likeMenu-background;
        fill: $search-icon;
        &:hover {
            fill: $menu-icons-hover;
        }
    }
    &.bold {
        font-weight: bold;
        font-size: 2.5em;
    }
    &.white {
        fill: $like-menu-color;
        &:hover {
            fill: $menu-icons-red-hover;
        }
    }
    &.red:hover {
        fill: $menu-icons-red-hover;
        color: $menu-icons-red-hover;
    }
}

.nav {
    background-color: $nav-background;
    color: $nav-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    &__menuWraper {
        display: inherit;
    }
    &__logo {
        //        height: 70px;
        font-family: 'Walkway SemiBold';
        padding-left: 1.8rem;
        vertical-align: middle;
        h2 {
            display: inline;
            cursor: pointer;
            line-height: 70px;
            vertical-align: middle;
            text-transform: uppercase;
            font-size: 29px;
            border-bottom: 2px solid $logo-border;
            span {
                border-bottom: 2px solid $logo-span-border;
                font-family: 'Walkway UltraBold';
                font-weight: bold;
                z-index: 9;
            }
        }
        @media screen and (max-width: 579px) {
            width: 100%;
            text-align: center;
        }
        @media screen and (min-width: 580px) {
            text-align: left;
        }
    }
    &__menu {
        display: inline-block;
        &__item {
            line-height: 70px;
            display: inline-block;
            font-size: 13px;
            font-family: 'Karbon Bold';
            padding: 0 2rem;
            &::after {
                position: relative;
            }
            a {
                line-height: 21px;
                color: inherit;
                text-decoration: none;
                padding-bottom: 3px;
                transition: color .3s;
                &:hover {
                    color: $menu-icons-hover;
                    border-bottom: 2px solid $menu-icons-hover;
                }
            }
        }
    }
    &__smallMenu {
        //           line-height: 70px;
        font-size: 0;
        display: inline-block;
        @media screen and (min-width: 580px) {}
        &__item {
            text-align: center;
            width: 70px;
            line-height: 70px;
            display: inline-block;
            border-left: 1px solid $menu-item-border;
            float: left;
        }
        &__item.like {
            position: relative;
        }
        @media screen and (max-width: 579px) {
            width: 100%;
        }
        @media screen and (min-width: 580px) {}
    }
    &__likeMenu {
        z-index: 901;
        display: none;
        position: absolute;
        width: 100%;
        z-index: 10;
        float: left;
        &__item {
            background: $likeMenu-background;
            text-align: center;
            width: 70px;
            line-height: 70px;
            display: inline-block;
            border-right: 1px solid $like-menu-item-border;
            border-bottom: 1px solid $like-menu-item-border;
            float: left;
        }
    }
    &__submenu {
        z-index: 900;
        display: none;
        text-align: center;
        height: 70px;
        position: absolute;
        left: 0;
        background: $subMenu-background;
        width: 100%;
        &__item {
            display: inline-block;
            padding: 0 2rem;
            font-size: 13px;
            font-family: 'Karbon Bold';
            border-right: 1px solid $border-sub-menu-items;
            line-height: 21px;
        }
    }
    &__search {
        z-index: 899;
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        width: 100%;
        label:after {
            content: "";
            position: absolute;
            left: 33%;
            top: 22.6%;
            bottom: 0;
            width: 77px;
            height: 77px;
            line-height: 133px;
            background: url('../assets/icons/loupe.svg');
        }
        &__input {
            height: 133px;
            box-sizing: border-box;
            color: $search-text;
            font-weight: bold;
            line-height: 60px;
            width: 100%;
            padding-left: 40%;
            font-size: 6rem;
            font-family: 'Karbon Bold';
            &:active,
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $search-placeholder;
                text-transform: uppercase;
            }
        }
    }
}

.hexagon-wraper-right,
.hexagon-wraper-left {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 55.43px);
    .arrow__icon-right,
    .arrow__icon-left {
        position: absolute;
        height: 28px;
        width: 17px;
        top: 50%;
        margin-top: -15px;
    }
}

.hexagon-wraper-right {
    right: -27.71px;
    .arrow__icon-right {
        right: 50%;
        margin-right: -8px;
    }
}

.hexagon-wraper-left {
    left: -27.71px;
    .arrow__icon-left {
        left: 50%;
        margin-left: -8px;
        transform: rotate(180deg);
    }
}

.hexagon-right,
.hexagon-left {
    position: relative;
    width: 96px;
    height: 55.43px;
    background-color: $slide-arrow-background1;
    margin: 27.71px 0;
    transform: rotate(90deg);
}

.hexagon-right:before,
.hexagon-left:before,
.hexagon-left:after,
.hexagon-right:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
}

.hexagon-right:before,
.hexagon-left:before {
    bottom: 99%;
    border-bottom: 27.71px solid $slide-arrow-background1;
}

.hexagon-right:after,
.hexagon-left:after {
    top: 98%;
    width: 0;
    border-top: 27.71px solid $slide-arrow-background1;
}

.slider {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
    .slider__container {}
    .slider__item {
        float: left;
        display: inline-block;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        color: $slider-item;
        position: relative;
        overflow: hidden;
        h2 {
            z-index: 12;
            top: 33%;
            left: 12%;
            position: absolute;
            font-size: 5rem;
            font-family: "Karbon Thin";
            line-height: 0.75;
        }
        &__2,
        &__3 {
            display: none;
            h2 {
                left: 53%;
            }
        }
        &__2 {
            .hexagon-right {
                background-color: $slide-arrow-background2;
                &::before {
                    border-bottom: 27.71px solid $slide-arrow-background2;
                }
                &::after {
                    border-top: 27.71px solid $slide-arrow-background2;
                }
            }
        }
        &__3 {
            .hexagon-right {
                background-color: $slide-arrow-background3;
                &::before {
                    border-bottom: 27.71px solid $slide-arrow-background3;
                }
                &::after {
                    border-top: 27.71px solid $slide-arrow-background3;
                }
            }
            .hexagon-left {
                background-color: $slide-arrow-background2;
                &::before {
                    border-bottom: 27.71px solid $slide-arrow-background2;
                }
                &::after {
                    border-top: 27.71px solid $slide-arrow-background2;
                }
            }
        }
    }
    img {
        z-index: 10;
        display: block;
        height: auto;
        margin: 0 auto;
        width: 100%;
    }
}

.menu2 {
    width: 100%;
    margin: 0;
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Karbon Bold';
        font-size: 1.0625rem;
        text-transform: uppercase;
        &__item {
            text-align: center;
            border-right: 1px solid $menu2-item-border;
            border-top: 1px solid $menu2-item-border;
            border-left: none;
            height: 55px;
            width: 240px;
            line-height: 55px;
            vertical-align: middle;
            color: $menu2-item-color;
            position: relative; //            transition: all .3s;
            a {
                transition: all .3s;
                padding-bottom: .5rem;
                border-bottom: 2px solid rgba(0, 0, 0, 0);
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                right: -1px;
                top: 22px;
                height: 11px;
                width: 1px;
                background-color: $logo-span-border;
            }
            &:last-child {
                border-right: none;
                &::after {
                    display: none;
                }
            }
            &:hover {
                color: $logo-span-border;
                a {
                    border-bottom: 2px solid $logo-span-border;
                    padding-bottom: 0;
                }
            }
            @media screen and (max-width: 579px) {
                //                width: 50%;
            }
            @media screen and (min-width: 580px) {
                //                width: 25%;
                //                line-height: 55px;
            }
            @media screen and (min-width: 730px) {
                //                width: 20%;
            }
        }
    }
}

.services {
    background: $section-services-background;
    position: relative;
    padding-top: 3.44rem;
    padding-bottom: .5rem;
    [class^="parallel"] {
        width: 208px;
        height: 192px;
        background: $section-services-background;
        position: absolute;
    }
    .parallel-right {
        right: 0;
        margin-right: -104px;
        top: -96px;
        transform: skewX(-30deg);
    }
    .parallel-left {
        left: 0;
        margin-left: -104px;
        top: -96px;
        transform: skewX(30deg);
    }
    h6 {
        color: $menu2-item-color;
        font-family: 'Karbon Bold';
        font-size: .8125rem;
        padding-left: .25rem;
        text-transform: uppercase;
    }
    h2 {
        font-family: 'Karbon Thin';
        font-size: 3.75rem;
        color: $services-header;
        margin-bottom: 3.3475rem;
    }
    p {
        font-family: 'Droid Sans';
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5.5rem;
        &__left,
        &__right {
            width: 50%;
            display: flex;
        }
        &__left {
            padding-right: 2rem;
        }
        &__right {
            padding-left: 2rem;
        }
        p {
            text-align: justify;
        }
    }
    &__details {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        a {
            text-align: center;
            transition: all .3s;
            h3 {
                font-family: 'Karbon Thin';
                font-size: 1.5rem;
                padding-top: 2.5rem;
            }
        }
        a:hover {
            transform: scale(1.2, 1.2);
            color: $services-header;
        }
    }
}

.moreFirst {
    z-index: 5;
    @extend .services;
    position: relative;
    background: url('../assets/images/more-first.png');
    background-size: cover;
    background-position: right;
    .read-more {
        cursor: pointer;
        position: absolute;
        top: -32px;
        left: 50%;
        margin-left: -64px;
        border-bottom: 32px solid $read-more-btn;
        border-left: 19px solid transparent;
        border-right: 19px solid transparent;
        height: 16px;
        width: 129px;
        line-height: 32px;
        text-align: center;
        color: $more-first-header;
        text-transform: uppercase;
        font-size: .8125rem;
        font-family: 'Karbon Bold';
        transition: all .3s;
        span {
            text-shadow: 1px 1px 7px $read-more-btn-shadow;
        }
        &:hover {
            transform: scale(1.25, 1);
        }
    }
    h6 {
        color: $more-first-h6;
        padding-left: 0;
    }
    h2 {
        color: $more-first-header;
    }
    hr {
        width: 50%;
        height: 1px;
        background: $hr-color;
        border: none;
        margin: .8rem auto .8rem 0;
        transition: all .4s;
    }
    &__content {
        padding-bottom: 6rem;
        @extend .services__content;
        &__left,
        &__right,
        &__center {
            width: 33%;
            display: flex;
            cursor: pointer;
            &:hover {
                img:first-child {
                    transform: translate(0, -20px);
                }
                hr {
                    background: $more-first-header;
                    width: 100%;
                }
            }
        }
        &__left {
            padding-right: 1rem;
        }
        &__center {
            padding: 0 1rem;
        }
        &__right {
            padding-left: 1rem;
        }
        p {
            text-align: left;
            font-family: 'Droid Sans';
            font-size: .875rem;
            color: $moreFirst-pragraph;
        }
    }
    &__details {
        &:first-child {
            width: 30%;
            padding-right: 0.75rem;
        }
        &:last-child {
            width: 70%;
        }
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .3s;
        a {
            text-align: center;
            img {
                width: 100%;
                height: auto;
                max-width: 95px;
                transition: all 0.4s;
            }
        }
        h3 {
            font-family: 'Karbon Thin';
            font-size: 2.5rem;
            color: $more-first-header;
        }
        &:hover {
            a {}
        }
    }
}

.carrer {
    background: url('../assets/images/carrers.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 623px;
    overflow: hidden;
    color: $carrer-text;
    &__desc {
        text-align: center;
        position: absolute;
        top: 60px;
        left: 48px;
        padding-right: 3rem;
        cursor: pointer;
        h2 {
            padding: 0 0.5rem;
            font-family: 'Karbon Thin';
            font-size: 2.5rem;
        }
        p {
            padding: 1.5rem 0.5rem;
            font-family: 'Droid Sans';
            font-size: .8125rem;
            line-height: 1.1875rem;
        }
        &:hover {
            img {
                transition: all .4s;
                transform: translate(0, -30px);
            }
        }
    }
    &__carrers,
    &__looking,
    &__upload,
    &__news,
    &__shape13,
    &__gray__1,
    &__gray__2 {
        position: absolute;
        left: 50%;
        z-index: 1;
    }
    .person-icon,
    .upload-icon {
        margin-bottom: 1.8125rem;
    }
    &__gray__1 {
        top: -183px;
        margin-left: 687px;
    }
    &__gray__2 {
        top: 379px;
        margin-left: 687px;
    }
    &__carrers {
        top: -42px;
        margin-left: -526px;
    }
    &__looking {
        top: 98px;
        margin-left: -283px;
        h2 {
            font-family: 'Karbon Light';
            font-size: 1.75rem;
            line-height: 1.5625rem;
        }
    }
    &__upload {
        top: 379px;
        margin-left: -284px;
        h2 {
            font-family: 'Karbon Light';
            font-size: 1.75rem;
            line-height: 1.5625rem;
            color: $upload-text;
        }
        .carrer__desc {
            padding-left: 1rem;
        }
    }
    &__news {
        top: 98px;
        margin-left: 201px;
        h2 {
            line-height: 3.5625rem;
        }

        .date {
            font-weight: bold;
        }

        .carrer__desc {
            top: 25px;
            &:hover {
                img {
                    transition: all .4s;
                    transform: scale(1.4);
                }
            }
        }
        h5 {
            font-family: 'Droid Sans Bold';
            font-size: .8125rem;
            line-height: 1.1875rem;
            color: $news-h5;
        }
        p {
            padding-top: 0;
            padding-bottom: 0;
        }
        .arrow-left {
            position: absolute;
            top: 50%;
            margin-top: -4px;
            left: -7%;
        }
        .arrow-right {
            position: absolute;
            top: 50%;
            margin-top: -4px;
            right: 7%;
        }
    }
    &__shape13 {
        top: -40px;
        margin-left: -1014px;
    }
}

.summary {
    padding-top: 1.5rem;
    padding-bottom: 20px;
    background: $summary-background;
    height: 400px;
    color: $summary-color;

    .container {
        display: flex;
    }

    &__content {

        width: 75%;
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: 20%;

            h4 {
                display: inline-block;
                font-size: .9375rem;
                line-height: 1.035rem;
                font-family: 'Karbon Bold';
                padding-bottom: 1.25rem;
                margin-top: 1.5625rem;
                position: relative;
                text-transform: uppercase;

                &::before {
                    top: -10px;
                    position: absolute;
                    content: " ";
                    width: 27px;
                    height: 1px;
                    background: $summary-h4-border;
                }

            }

            h5 {
                font-family: 'Droid Sans';
                font-size: .75rem;
                line-height: 1.3125rem;
                color: $summary-second-color;
            }
        }

    }

    &__mapWraper {
        margin-left: .5rem;
        width: 25%;
        background: $mapWraper-background;

        &__map {
            height: 145px;
        }

        &__content {

            padding: 1.75rem 2.3125rem;

            h3 {
                font-family: 'Karbon Light';
                font-size: 1.75rem;
                line-height: 1.5625rem;
                margin-bottom: 1.75rem;
            }

            h4,
            h5 {
                font-family: 'Droid Sans Bold';
                font-size: .75rem;
                line-height: 1.125rem;
            }

            h5 {
                font-family: 'Droid Sans';
                color: $contact-h5;

                a.mail {
                    text-decoration: underline;
                    color: $contact-link;
                }
            }
        }
    }
}

.footer {
    background: $footer-background;
    height: 65px;
    color: $footer-text;
    font-family: 'Droid Sans';
    font-size: .75rem;
    
    .container {
        display: flex;
        justify-content: space-between;
        
        p {
            line-height: 65px;
        }
        
        span {
            color: $footer-text-span;
        }
    }
}
