$nav-background: #272b2f; // black
$nav-color: #ffffff; // white

$menu-icons: rgb(103, 111, 117); // darkgray
$menu-icons-hover: #1fb5e3; // blue
$menu-icons-active: #ffffff; // white
$menu-icons-red-hover: #ff4989; // pink

$border-menu-items: #343739;
$border-sub-menu-items: #4d535b;

$submenu-title: #4d545c;
$subMenu-background: #3a3f45;
$likeMenu-background: #3f4246;

$logo-border: #f19621; // orange
$logo-span-border: #1fb5e3; // lightblue

$search-icon: #ffffff; // white
$search-icon-background: #3f4246; // white

$menu-item-border: #343739;
$like-menu-item-border: #52565b;

$like-menu-color: #ffffff; // white



$menu-border: rgba(255, 255, 255, .1);

$menu-border-dark: rgba(100, 100, 100, .4);

$box-shadow: rgba(0,0,0,0.2);
$inset-shadow: rgba(0,0,0,0.5);

$search-text: #5f6467; // darkgray
$search-placeholder: #eff2f4; // lightgray

$slider-item: #ffffff; // white

$slider-background-1: rgb(31, 181, 227);

$hexagon-background: rgb(241, 150, 33);

$slide-arrow-background1: #f19621; // orange
$slide-arrow-background2: #1fb5e3; // blue
$slide-arrow-background3: #7e4ae8; // violet

$slider-hr1: #16a3dc;
$slider-hr2: #5834d7;
$slider-hr3: #f08b1b;

$menu2-background: #ffffff;
$menu2-item-color: #909fae;
$menu2-item-border: #e3e7eb;


$section-services-background: #eff2f4;
$services-header: #21bae5;

$more-first-h6: #0d718f;
$more-first-header: #ffffff;
$moreFirst-pragraph: #c6eaf6;

$hr-color: #16a1cc;

$read-more-btn: #24c2e8;
$read-more-btn-shadow: #000000;

$carrer-text: #ffffff;
$upload-text: #1fb5e3;
$news-h5: #b84c0a;

$summary-background: #272b2f;
$summary-color: #ffffff;
$summary-second-color: #828a90;
$summary-h4-border: #3a3f44;

$mapWraper-background: #3a3f45;
$contact-h5: #828a90;
$contact-link: #1fb5e3;


$footer-background: #1b1e20;
$footer-text: #828a90; 
$footer-text-span: #b9c0c6; 