@font-face { 
     font-family: 'Walkway SemiBold'; 
     src: url('../assets/fonts/Walkway-SemiBold.ttf');
}

@font-face { 
     font-family: 'Walkway UltraBold'; 
     src: url('../assets/fonts/Walkway-UltraBold.ttf');
}

@font-face { 
     font-family: 'Karbon Bold'; 
     src: url('../assets/fonts/Karbon-Bold.otf');
}

@font-face { 
     font-family: 'Karbon Thin'; 
     src: url('../assets/fonts/Karbon-Thin.otf');
}

@font-face { 
     font-family: 'Droid Sans'; 
     src: url('../assets/fonts/DroidSans.ttf');
}

@font-face { 
     font-family: 'Droid Sans Bold'; 
     src: url('../assets/fonts/DroidSans-Bold.ttf');
}

@font-face { 
     font-family: 'Karbon Light'; 
     src: url('../assets/fonts/Karbon-Light.otf');
}


